#heading{
    margin-top: 60px;
    text-align: center;
}
#create{
    margin-top: 30px;
}
.table{
    margin-top: 20px;
}

#copyright{
    text-align: center;
}
#create:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

